@tailwind base;
@tailwind components;
@tailwind utilities;

html { scroll-behavior: smooth; }


body {
  @apply font-sans; /* Use the 'sans' font everywhere */
}

h1, h2, h3, h4, h5, h6 {
  @apply font-display; /* Use display font for headings */
}

.line-clamp-1 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.line-clamp-2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}